---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import HardwareSpecs from '../components/HardwareSpecs.astro';
import DownloadModal from '../components/DownloadModal.astro';
---

<Layout title="PICO32 | Stealth ESP32 Tool">
    <!-- Main Home View -->
    <div id="home-view" class="h-full w-full max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center p-6 md:p-12 gap-12 transition-all duration-500 ease-in-out">
        
        <HeroSection />

        <HardwareSpecs />

    </div>

    <DownloadModal />

</Layout>
